@(bb:BaseBank)(acc: AccountAuth)

@main("Database", acc) {
<h2 class="subheader"> Generate database </h2>    
    <form class="form-inline">
    <input type="text" class="input-small" placeholder="Seed" name="seed">
    <button type="submit" class="btn">Generate</button>
    </form>

<h2 class="subheader"> Current database </h2>        

<ul class="nav nav-tabs">
  <li class="active"><a href="#branches" data-toggle="tab">Branches</a></li>
  <li><a href="#accounts" data-toggle="tab">Accounts</a></li>
  <li><a href="#clients" data-toggle="tab">Clients</a></li>
  <li><a href="#entities" data-toggle="tab">Entities</a></li>    
  <li><a href="#payments" data-toggle="tab">Payments</a></li>
  <li><a href="#salaries" data-toggle="tab">Salaries</a></li>
  <li><a href="#transferts" data-toggle="tab">Transferts</a></li>  
  <li><a href="#addresses" data-toggle="tab">Addresses</a></li>        
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="branches">
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>
	    <th>Location</th>
	  </tr>
	</thead>
	<tbody> @for(p <- bb.branches){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.location</td>
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>
  </div>
  
  <div class="tab-pane" id="payments">
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>
	    <th>From</th>
	    <th>Amount</th>
	    <th>To</th>
	    <th>Timestamp</th>
	  </tr>
	</thead>
	<tbody> @for(p <- bb.payments){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.from</td>
			    <td>@p.amount</td>
			    <td>@p.to</td>
			    <td>@p.timestamp</td>
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>
  </div>

    <div class="tab-pane" id="salaries">
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>	    
	    <th>From</th>
	    <th>Amount</th>
	    <th>To</th>
	    <th>Timestamp</th>
	  </tr>
	</thead>
	<tbody> @for(p <- bb.salaries){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.from</td>
			    <td>@p.amount</td>
			    <td>@p.to</td>
			    <td>@p.timestamp</td>
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>
  </div>

      <div class="tab-pane" id="transferts">
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>	    
	    <th>From</th>
	    <th>Amount</th>
	    <th>To</th>
	    <th>Timestamp</th>
	  </tr>
	</thead>
	<tbody> @for(p <- bb.transferts){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.from</td>
			    <td>@p.amount</td>
			    <td>@p.to</td>
			    <td>@p.timestamp</td>
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>
  </div>
  
  <div class="tab-pane" id="addresses">
    
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>	    
	    <th>Street</th>
	    <th>City</th>
	    <th>State</th>
	    <th>County</th>	    
	  </tr>
	</thead>
	<tbody> @for(p <- bb.addresses){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.street</td>
			    <td>@p.city</td>
			    <td>@p.state</td>
			    <td>@p.country</td>			    
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>

  </div>
  <div class="tab-pane" id="entities">
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>Id</u></th>
	    <th>Name</th>
	    <th>Field</th>
	  </tr>
	</thead>
	<tbody> @for(p <- bb.entities){
			  <tr>
			    <td><u>@p.id</u></td>
			    <td>@p.name</td>
			    <td>@p.field</td>
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>    
  </div>
  <div class="tab-pane" id="accounts">


    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>IBAN</u></th>
	    <th>Sum</th>
	    <th>Branch</th>	    
	    <th>Client</th>
	    <th>Pass</th>			
	  </tr>
	</thead>
	<tbody> @for(p <- bb.accounts){
			  <tr>
			    <td><u>@p.iban</u></td>
			    <td>@p.sum</td>
			    <td>@p.branch</td>			    
			    <td>@p.client</td>
			    <td>@p.pass</td>		  
			    }
			  </tr>
			  
	</tbody>
      </table>
    </div>    
  </div>
  <div class="tab-pane" id="clients">

    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th><u>SSN</u></th>	    
	    <th>FName</th>
	    <th>LName</th>	    
	    <th>location</th>
	  </tr>
	  
	</thead>
	<tbody> @for(p <- bb.clients){
			  <tr>
			    <td><u>@p.ssn</u></td>
			    <td>@p.fname</td>
			    <td>@p.lname</td>			    
			    <td>@p.location</td>
			    }
			  </tr>

	</tbody>
      </table>
    </div>
  </div>  
</div>




}{
<li><a href="/">Home</a></li>
<li><a href="/admin-overview">Overview</a></li>
<li class="active"><a href="/generate">Database <span class="sr-only">(current)</span> </a></li>
}()

