@(acc: AccountAuth, tr:List[(StatementUI, Float)])

@main("User transactions", acc) {

<h2 class="subheader"> Send money </h2>    
    <form action="send" class="form-inline">
    <input type="text" name="to" class="input-small" placeholder="To">
    <input type="text" name="amount" class="input-small" placeholder="Amount">
    <button type="submit" class="btn">Send</button>
    </form>
<h2 class="subheader"> Transactions </h2>    
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>What</th>	
	<th>Amount</th>
	<th>To</th>	
	<th>From</th>	
	<th>Timestamp</th>
	<th>Balance</th>		
      </tr>      
    </thead>
    <tbody>
      @for(p <- tr){
	<tr>
	<td>@p._1.what</td> 
	<td>@p._1.sum</td>
	<td>@p._1.from</td>
	<td>@p._1.to</td>
	<td>@p._1.timestamp</td>
	<td>@p._2</td>	
      </tr>
      }
    </tbody>
  </table>
</div>


}{

<li><a href="/">Home</a></li>
<li><a href="/user-overview">Report</a></li>
<li class="active"><a href="#">Transactions <span class="sr-only">(current)</span> </a></li>

}()
